body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(111, 211, 186);
    font-size: 24px;
}

.wrapper {
    text-align: center;
    margin: 15%;
    display: flex;
}

.hide {
    display: none;
}